@using Gateway.Models
@model List<Event>


@foreach (var item in Model)
{
    <div class="jumbotron jumbotron_frontpage">
        <h1>@item.Title</h1>
        <h3 class="event_date">@item.DateOfEvent</h3>
        <img class="jumbotron_img" src=@item.Img />
        <p class="event_description truncate-text">@item.Description</p>
        <p>
            <a href="http://asp.net" class="btn btn-primary btn-lg">Læs mere &raquo;</a>
        </p>
    </div>
}