@using Gateway.Models
@using Microsoft.AspNet.Identity
@{
    var customer = Session["customer"] as Customer;
}

@if (Session["token"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>@customer.Firstname</a>
        </li>
        <li>@Html.ActionLink("Log Ud", "LogOff", "Account")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Ny kunde?", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log ind", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
