@model Gateway.Models.Order

@{
    ViewBag.Title = "Ordre Gennemført";
}

<div class="jumbotron jumbotron_eventdetails">
    @Html.AntiForgeryToken()
    <div class="form-horizontal clearfix">
        <h2 style="text-align: center">D.@DateTime.Now.ToShortDateString() - Tak for din bestilling</h2>
    </div>
</div>

