/* Stop footer from floating in page*/
html, body {
    padding-top: 41px;
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

    .background img {
        height: 100%;
        width: 100%;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p {
    font-size: 16px;
    font-family: Georgia;
}

/* Shared layout */
.nav.navbar-nav {
    padding-top: 20px;
}

    .nav.navbar-nav .logo {
        margin-top: -20px;
        margin-right: 50px;
    }

footer {
    background-color: #222222;
    color: #999999;
    display: table-row;
    height: 0;
}

    footer .row {
        padding-left: 50px;
        padding-right: 50px;
    }

.google_map, .opening_hours {
    padding-left: 0;
    padding-right: 0;
}

.table-openinghours {
    width: 100%;
}

/* Frontpage */
.truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.thumbnail {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

    .thumbnail img {
        padding-bottom: 15px;
    }

.jumbotron.jumbotron_frontpage {
    padding: 15px;
    border-radius: 0;
    margin-left: 150px;
    margin-right: 150px;
    opacity: 0.8;
    padding: 0;
}

    .jumbotron.jumbotron_frontpage:first-child {
        margin-top: 100px;
    }

.jumbotron_frontpage h1 {
    font-size: 30px;
    padding-left: 15px;
    font-family: Helvetica;
}

.event_description {
    padding-left: 0;
}

.event_date {
    text-align: right;
    padding-right: 30px;
}

/* Pagination */
nav {
    text-align: center;
    margin-bottom: 100px;
    margin-top: -30px;
}

.pagination a {
    color: black;
}

/* Event Details */
.event_details_row {
    margin-left: 0;
    padding: 10px;
}

    .event_details_row h1 {
        font-size: 30px;
        font-family: Helvetica;
    }

.event_details_thubmnail {
    padding-left: 0;
}

.jumbotron.jumbotron_eventdetails {
    padding: 15px;
    border-radius: 0;
    margin-bottom: 100px;
    margin-top: 100px;
    opacity: 0.9;
}

/*Shopping Cart*/
.cart_dropdown {
    max-height: 400px;
    overflow-y: scroll;
    width: 250px;
    padding: 10px;
    opacity: 0.9;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #47a447;
}

.dropdown-menu > li > a {
    color: #ffffff;
    background-color: #5cb85c;
}

.cart_img img {
    height: 40px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.cart_amount {
    width: 100px;
    padding-right: 10px;
    text-align: right;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 13px;
    border-radius: 0;
}

/* Div */
.big_btn a, .btn-sm, .btn-success, .btn-danger {
    border-radius: 0;
    font-family: Helvetica;
    border: none;
}

.input_field {
    border-radius: 0;
}

/*Order Details*/
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    vertical-align: middle;
}

.order_table_img img {
    height: 70px;
    border-radius: 4px;
}

.order_table_amount {
    font-size: 16px;
}

.order_delete_btn {
    width: 34px;
}

.total_amount {
    font-size: 20px;
    font-family: Helvetica;
}
