body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Shared layout*/
footer {
    background-color: #222222;
    color: #999999;
}

    footer .row {
        padding: 50px;
    }

.google_map, .opening_hours {
    padding-left: 0px;
    padding-right: 0px;
}

.truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.table-openinghours {
    width: 100%;
}

/* Frontpage*/
.thumbnail {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

    .thumbnail img {
        padding-bottom: 15px;
    }

.jumbotron.jumbotron_frontpage {
    padding: 15px;
    border-radius: 0px;
}

.jumbotron_frontpage h1 {
    font-size: 30px;
    padding-left: 15px;
}

.event_description {
    padding-left: 0px;
}

.event_date {
    text-align: right;
    padding-right: 30px;
}

nav {
    text-align: center;
}

.pagination a {
    color: black;
}
